body {
    background-color: bisque;
}
.parent {
    background-image: url(Images/img.webp);
    background-position: center;    
    background-size: cover;
    height: 25vh;
}
.heading {
text-align: center;
color: white;
position: absolute;
top: 12%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Black Ops One', cursive;
}
.subheading {
    margin-bottom: 50px;
    text-align: center;
}
.writing {
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    transform: translate(-2.5%,200%);
    color: black;
}
.intro {
    font-family: 'Sriracha', cursive;
    margin-top: 50x;
    margin-bottom: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
span {
    color: red;
}
.word {
    color: blue
}
.SMblog {
    background-image: url(Images/spider-man\ img.jpg);
    background-position-y: -60px;
    background-size: cover;
    height: 25vh;
    border: 5px solid red;
    text-align: center;
    position: relative;
    padding: 10vh 10vh;
    margin-top: 20%;
    margin-bottom: 20%;
    color: white;
}
.GTblog {
    background-image: url(Images/ghost-of-tsushima\ img.webp);
    background-position-y: -80px;
    background-size: cover;
    height: 30vh;
    border: 5px solid black;
    text-align: center;
    position: relative;
    padding: 10vh 10vh;
    margin-top: 20%;
    margin-bottom: 20%;
    color: white;
}
.word2 {
    color: darkgrey
}
.word3 {
    color: white
}
.SSBUblog {
    background-image: url(Images/SSBU\ img.avif);
    background-position-y: -100px;
    background-size: cover;
    height: 25vh;
    border: 5px solid lightblue;
    text-align: center;
    position: relative;
    padding: 10vh 10vh;
    margin-top: 20%;
    margin-bottom: 20%; 
    color: green;
}
.TOTKblog {
    background-image: url(Images/totk\ img.webp);
    background-position: center;
    background-size: cover;
    height: 25vh;
    border: 5px solid lightblue;
    text-align: center;
    position: relative;
    padding: 10vh 10vh;
    margin-top: 20%;
    margin-bottom: 20%; 
    color: green;
}
.Sifublog {
    background-image: url(Images/sifu\ img.webp);
    background-position-y: -70px;
    background-size: cover;
    height: 25vh;
    border: 5px solid red;
    text-align: center;
    position: relative;
    padding: 10vh 10vh;
    margin-top: 20%;
    margin-bottom: 20%; 
}
.AWOblog {
    background-image: url(Images/awo\ img.jpeg);
    background-position-y: -100px;
    background-size: cover;
    height: 25vh;
    border: 5px solid Black;
    text-align: center;
    position: relative;
    padding: 10vh 10vh;
    margin-top: 20%;
    margin-bottom: 20%; 
    color: yellow;
}
.word3 {
    color: red;
}
.word4 {
    color: yellow
}